{% extends "base.html" %}

{% block title%} {{ title }} {% endblock %}
{% block body %}

<div class="grid-x" style="width: 1024px;height: 96px">
    <div id = "A8" class="cell small-1" style="cursor: grabbing;border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265C
    </div>
    <!--A8-->
    <div id = "B8" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265E
    </div>
    <!--B8-->
    <div id = "C8" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265D
    </div>
    <!--C8-->
    <div id = "D8" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265B
    </div>
    <!--D8-->
    <div id = "E8" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265A
    </div>
    <!--E8-->
    <div id = "F8"class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265D
    </div>
    <!--F8-->
    <div id = "G8" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265E
    </div>
    <!--G8-->
    <div id = "H8" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265C
    </div>
    <!--H8-->
</div>
<!--8th rank-->

<div class="grid-x" style="width: 1024px;height: 96px">
    <div id = "A7" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265F
    </div>
    <!--A7-->
    <div id = "B7" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265F
    </div>
    <!--B7-->
    <div id = "C7" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265F
    </div>
    <!--C7-->
    <div id = "D7" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265F
    </div>
    <!--D7-->
    <div id = "E7" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265F
    </div>
    <!--E7-->
    <div id = "F7" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265F
    </div>
    <!--F7-->
    <div id = "G7" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray; text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265F
    </div>
    <!--G7-->
    <div id = "H7" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x265F
    </div>
    <!--H7-->
</div>
<!--7th rank-->

<div class="grid-x" style="width: 1024px;height: 96px">
    <div id = "A6" class="cell small-1" style="border: 1px solid rgb(0, 0, 0)">
        A6
    </div>
    <!--A6-->
    <div id = "B6" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        B6
    </div>
    <!--B6-->
    <div id = "C6" class="cell small-1" style="border: 1px solid rgb(0, 0, 0)">
        C6
    </div>
    <!--C6-->
    <div id = "D6" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        D6
    </div>
    <!--D6-->
    <div id = "E6" class="cell small-1" style="border: 1px solid rgb(0, 0, 0)">
        E6
    </div>
    <!--E6-->
    <div id = "F6" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        F6
    </div>
    <!--F6-->
    <div id = "G6" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);border: 1px solid rgb(0, 0, 0)">
        G6
    </div>
    <!--B6-->
    <div id = "H6" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        H6
    </div>
    <!--H6-->
</div>
<!--6th rank-->

<div class="grid-x" style="width: 1024px;height: 96px">
    <div id = "A5" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        A5
    </div>
    <!--A5-->
    <div id = "B5" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);">
        B5
    </div>
    <!--B5-->
    <div id = "C5" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        C5
    </div>
    <!--C5-->
    <div id = "D5" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);">
        D5
    </div>
    <!--D5-->
    <div id = "E5" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        E5
    </div>
    <!--E5-->
    <div id = "F5" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);">
        F5
    </div>
    <!--F5-->
    <div id = "G5" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        G5
    </div>
    <!--G5-->
    <div id = "H5" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);">
        H5
    </div>
    <!--H5-->
</div>
<!--5th rank-->

<div class="grid-x" style="width: 1024px;height: 96px">
    <div id = "A4" class="cell small-1" style="border: 1px solid rgb(0, 0, 0)">
        A4
    </div>
    <!--A4-->
    <div id = "B4" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        B4
    </div>
    <!--B4-->
    <div id = "C4" class="cell small-1" style="border: 1px solid rgb(0, 0, 0)">
        C4
    </div>
    <!--C4-->
    <div id = "D4" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        D4
    </div>
    <!--D3-->
    <div id = "E4" class="cell small-1" style="border: 1px solid rgb(0, 0, 0)">
        E4
    </div>
    <!--E4-->
    <div id = "F4" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        F4
    </div>
    <!--F4-->
    <div id = "G4" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);border: 1px solid rgb(0, 0, 0)">
        G4
    </div>
    <!--G4-->
    <div id = "H4" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        H4
    </div>
    <!--H4-->
</div>
<!--4th rank-->

<div class="grid-x" style="width: 1024px;height: 96px">
    <div id = "A3" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        A3
    </div>
    <!--A3-->
    <div id = "B3" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);">
        B3
    </div>
    <!--B3-->
    <div id = "C3" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        C3
    </div>
    <!--C3-->
    <div id = "D3" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);">
        D3
    </div>
    <!--D3-->
    <div id = "E3" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        E3
    </div>
    <!--E3-->
    <div id = "F3" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);">
        F3
    </div>
    <!--F3-->
    <div id = "G3" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;">
        G3
    </div>
    <!--G3-->
    <div id = "H3" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);">
        H3
    </div>
    <!--H3-->
</div>
<!--3rd rank-->

<div class="grid-x" style="width: 1024px;height: 96px">
    <div id = "A2" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2659
    </div>
    <!--A2-->
    <div id = "B2" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2659
    </div>
    <!--B2-->
    <div id = "C2" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2659
    </div>
    <!--C2-->
    <div id = "D2" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2659
    </div>
    <!--D2-->
    <div id = "E2" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2659
    </div>
    <!--E2-->
    <div id = "F2" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2659
    </div>
    <!--F2-->
    <div id = "G2" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2659  
    </div>
    <!--G2-->
    <div id = "H2" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2659
    </div>
    <!--H2-->
</div>
<!--2nd rank-->

<div class="grid-x" style="width: 1024px;height: 96px">
    <div id = "A1" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2656
    </div>
    <!--A1-->
    <div id = "B2" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2658
    </div>
    <!--B2-->
    <div id = "C1" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2657
    </div>
    <!--C1-->
    <div id = "D1" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2655
    </div>
    <!--D1-->
    <div id = "E1" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2654
    </div>
    <!--E1-->
    <div id = "F1" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2657
    </div>
    <!--F1-->
    <div id = "G1" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);background-color: dimgray;text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2658
    </div>
    <!--G1-->
    <div id = "H1" class="cell small-1" style="border: 1px solid rgb(0, 0, 0);text-align: center; vertical-align: middle;line-height: 96px;font-size: 90px;">
        &#x2656
    </div>
    <!--H1-->
</div>
<!--1st rank-->



{% endblock %}