{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    {% if title  ==  request.user.username %}
        <div>You have played {{ count }} games.</div>
        <div>You have won {{ wins }} games.</div>
        <div>You have drawn {{ draws }} games.</div>
    {% else %}
    <div>{{ title }} has played {{ count }} games.</div>
    <div>{{ title }} has won {{ wins }} games.</div>
    <div>{{ title }} has drawn {{ draws }} games.</div>
    {% endif %}
    <br>
    <hr>
    <br>
    <table>
        <thead>
            <tr>
                <th>Players</th>
                <th>Winner</th>
            </tr>
        </thead>
        <tbody>
            {% for game in gamelist %}
            <tr>
                <td>
                    {% for player in game.players.all %}
                        {{ player.username }}
                    {% endfor %}
                </td>
                <td>
                    {{ game.winner }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
{% endblock %}