{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block body %}
    {% if title  ==  request.user.username %}
        <div>You have played {{ count }} games.</div>
        <div>You have won {{ wins }} games.</div>
        <div>You have drawn {{ draws }} games.</div>
    {% else %}
    <div>{{ title }} has played {{ count }} games.</div>
    <div>{{ title }} has won {{ wins }} games.</div>
    <div>{{ title }} has drawn {{ draws }} games.</div>
    {% endif %}
{% endblock %}